{% extends "Reportes/menuReportes.html" %}
{% load static %}

{% block content %}
<!-- desde AQUI SI SEÑORES                      -->

<br/>

<div class="row">

    <div class="col-xl-1"></div>

    <div class="col-xl-2" style="background-color: lavender;">

        <figure class="figure">
            <img src="{% static '/img/medical1.jpg' %}" class="figure-img img-fluid rounded"
                 alt="...">
            <figcaption class="figure-caption text-right">CLINICA MEDICAL
            </figcaption>
        </figure>

    </div>

    <div class="col-xl-1"></div>

    <div class="col-xl-4" style="background-color: lavenderblush;">
        <div class="mx-auto" style="width: 500px;">

            <p class="text-center">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mision: <br>
                <br>
                <br>

            Somos una institución privada dedicada a la prestación de servicios de salud con enfoque en cuidado crítico y servicios quirúrgicos del paciente adulto,

            con estándares de calidad en la atención y compromiso por satisfacer las necesidades del usuario y su familia, garantizando rentabilidad y permanencia

            en el sector. ...

            </p>

            <br/> <br/>


            <p class="text-left">

                <bold>

                    <bold>
            </p>

        </div>
    </div>

    <div class="col-xl-1">

    </div>


    <div class="col-xl-2" style="background-color: lavender;">


         <figure class="figure">
            <img src="{% static '/img/Doctor1.jpg' %}" class="figure-img img-fluid rounded"
                 alt="...">
            <figcaption class="figure-caption text-right">Actitud de Servicio
            </figcaption>
        </figure>

    </div>

</div>

<div class="col-xl-1"></div>


<br/>




<!-- HASTA AQUI                                              -->


{% endblock %}


